<ActionBar class="action-bar">

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Llista de Faltes"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'LlistaFaltes'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>
        <Label class="page-placeholder" text="<!-- Llistat de faltes dels alumnes -->"></Label>
    </GridLayout>
</RadSideDrawer>